* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
body {
  font-family: "SF PRO", Arial, sans-serif;
}
html,
body {
  height: 100%;
  width: 100%;
}

/* primaty navbar */
#nav-1 {
  /* position: ; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000;
  height: 44px;
  color: #ffffffe6;
  padding: 0 21vw;
  gap: 1px;
}
.options {
  font-size: 12px;
  margin-right: 2px;
}
#nav-1 .apple-logo img {
  height: 1.2vw;
  width: auto;
}
#nav-1 .search-button {
  font-weight: 100;
  height: 1.2vw;
  width: auto;
}

/* secondary navbar */
#nav-2 {
  background-color: #000;
  padding: 10px;
  position: sticky;
  z-index: 99;
  top: 0;
  height: 5.8vh;
  padding: 0 21vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#nav-2 .left-nav {
  color: #fff;
  font-size: 1.2vw;
  font-weight: 550;
}
#nav-2 .right-nav ul {
  display: flex;
  height: 100%;
  flex-direction: row;
  list-style: none;
  justify-content: center;
  align-items: center;
  gap: 1.3vw;
}
#nav-2 .right-nav li {
  font-size: 0.75vw;
  color: #fff;
}
#nav-2 .right-nav .overview-option {
  color: #ffffff7b;
}
#nav-2 .right-nav .demo {
  background-color: #000;
  color: #fff;
  border-radius: 50px;
  padding: 3px 10px;
  border: 0.01px solid;
}
#nav-2 .right-nav .buy {
  background-color: #0071e3;
  color: #fff;
  border: none;
  border-radius: 50px;
  padding: 3px 12px;
}

/* main started */
#main {
  position: relative;
  overflow: hidden;
}

/* page started */
#page {
  position: relative;
  height: 100vh;
  width: 100vw;
  background-color: #000;
}
#page > video {
  height: 100%;
  width: 50%;
  object-fit: cover;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
#page-bottom {
  height: 20%;
  width: 25%;
  position: absolute;
  bottom: 15%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3vw;
  flex-direction: column;
}
#page-bottom h3 {
  color: #ff5a00;
  margin-bottom: 1vw;
  font-weight: 450;
  font-size: 1.4vw;
}

/* page1 started */
#page1 {
  position: relative;
  height: 100vh;
  width: 100vw;
  background-color: #fff;
}
/* page 2 */
#page2 {
  position: relative;
  height: 100vh;
  width: 100vw;
}
.mid-vid {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.mid-text {
  font-size: 2.8vw;
  color: #fff;
  font-weight: 600;
  position: absolute;
  bottom: 20%;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
}

#page3 {
  position: relative;
  height: 100vh;
  width: 100vw;
}
/* page5 */
#page5 {
  position: relative;
  height: 120vh;
  width: 100vw;
}
#page5-upper-inner {
  position: absolute;
  top: 4%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50%;
  gap: 1.5vw;
}
#page5-upper-inner h3 {
  color: #ff5a00;
  font-size: 1.4vw;
}
#page5-upper img {
  width: 100%;
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translateX(-50%);
  width: 28%;
}
#page5-lower {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  /* gap: 100px; */
}
#vision-pro-image {
  position: absolute;
  top: 40%;
  width: 65%;
  left: 50%;
  transform: translateX(-50%);
}
#page5-button {
  position: absolute;
  /* top: 2%; */
  bottom: 2%;
  left: 50%;
  transform: translateX(-50%);
  border: 3px solid black;
  border-radius: 50px;
  padding: 1vw 1.8vw;
  background-color: transparent;
  font-weight: 500;
  font-size: 1.2vw;
  transition: all ease 0.5s;
}
#page5-button:hover {
  background-color: #000;
  color: #fff;
}
#page6 {
  position: relative;
  height: 100vh;
  width: 100vw;
}
#page6 video {
  height: 100vh;
  width: 100vw;
  object-fit: cover;
}
#page6 h1 {
  font-size: 4.3vw;
  color: #fff;
  font-weight: 700;
  position: absolute;
  bottom: 38%;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  text-align: center;
}
#page6 h3 {
  font-size: 1.5vw;
  color: #ffffffe6;
  font-weight: 600;
  position: absolute;
  bottom: 60%;
  left: 50%;
  transform: translateX(-50%);
  /* white-space: nowrap; */
}
#page7 {
  position: relative;
  height: 70vh;
  width: 100vw;
  /* background-color: #0071e3; */
}
.page-content {
  display: flex;
  /* gap: 10px; */
  justify-content: center;
  align-items: start;
  padding: 6vw 22vw;
}
.page-left {
  width: 100%;
}
.page-right {
  width: 100%;
  display: flex;
  gap: 60px;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  font-size: 1.3vw;
  font-weight: normal;
  color: #86868b;
}
.page-left h1 {
  margin: 0;
}
.page-right p {
  margin: 0;
}
.page-right button {
  background-color: #ff5a00;
  color: #fff;
  font-size: 1.3vw;
  border: none;
  width: fit-content;
  padding: 1vw 2vw;
  border-radius: 50px;
  font-weight: 500;
}
#page8 {
  position: relative;
  height: 100vh;
  width: 100vw;
}
#page8 video {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
#page8 h1 {
  font-size: 4.3vw;
  color: #fff;
  font-weight: 700;
  position: absolute;
  bottom: 38%;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  text-align: center;
}
#page8 h3 {
  font-size: 1.5vw;
  color: #ffffffe6;
  font-weight: 600;
  position: absolute;
  bottom: 60%;
  left: 50%;
  transform: translateX(-50%);
  /* white-space: nowrap; */
}
#page9 {
  position: relative;
  height: 70vh;
  width: 100vw;
}
#page10 {
  position: relative;
  height: 100vh;
  width: 100vw;
}
#page10 video {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
#page10 h1 {
  font-size: 4.3vw;
  color: #fff;
  font-weight: 700;
  position: absolute;
  bottom: 38%;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  text-align: center;
}
#page10 h3 {
  font-size: 1.5vw;
  color: #ffffffe6;
  font-weight: 600;
  position: absolute;
  bottom: 60%;
  left: 50%;
  transform: translateX(-50%);
  /* white-space: nowrap; */
}
#page11 {
  position: relative;
  height: 70vh;
  width: 100vw;
}
#page12 {
  position: relative;
  height: 100vh;
  width: 100vw;
}
#page12 video {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
#page12 h1 {
  font-size: 4.3vw;
  color: #fff;
  font-weight: 700;
  position: absolute;
  bottom: 38%;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  text-align: center;
}
#page12 h3 {
  font-size: 1.5vw;
  color: #ffffffe6;
  font-weight: 600;
  position: absolute;
  bottom: 60%;
  left: 50%;
  transform: translateX(-50%);
  /* white-space: nowrap; */
}
#page14-upper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  position: relative;
  height: 70vh;
  width: 100vw;
  background-color: #f5f5f7;
}
#page14-upper > h3 {
  margin-bottom: 1vw;
  font-size: 2vw;
}
#page14-upper > h1 {
  margin-bottom: 1.5vw;
  font-size: 4vw;
}
#page14-upper > p {
  font-size: 1.2vw;
  width: 60%;
  font-weight: 700;
  color: #545454c9;
}
#page14 {
  position: relative;
  height: 100vh;
  width: 100vw;
}
#page14 > canvas {
  position: relative;
  height: 100vh;
  width: 100vw;
  z-index: 99;
  /* object-fit: cover; */
}
